<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../contrilist/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="rank">
        <main>

          <div id="leaderboard">
            <h1>Contributors</h1>
            <table>
              <tr>
                <td class="number">1</td>
                <td class="name">Mark Lee</td>
                <td class="points">258.242</td>
              </tr>
              <tr>
                <td class="number">2</td>
                <td class="name">Xiao Dejun</td>
                <td class="points">258.223</td>
              </tr>
              <tr>
                <td class="number">3</td>
                <td class="name">Qian Kun</td>
                <td class="points">258.212</td>
              </tr>
              <tr>
                <td class="number">4</td>
                <td class="name">Mark Lee</td>
                <td class="points">258.242</td>
              </tr>
              <tr>
                <td class="number">5</td>
                <td class="name">Xiao Dejun</td>
                <td class="points">258.223</td>
              </tr>
              <tr>
                <td class="number">6</td>
                <td class="name">Qian Kun</td>
                <td class="points">258.212</td>
              </tr>
              <tr>
                <td class="number">7</td>
                <td class="name">Johnny Suh</td>
                <td class="points">258.208</td>
              </tr>
              <tr>
                <td class="number">8</td>
                <td class="name">Johnny Suh</td>
                <td class="points">258.208</td>
              </tr>
              <tr>
                <td class="number">9</td>
                <td class="name">Johnny Suh</td>
                <td class="points">258.208</td>
              </tr>
              <tr>
                <td class="number">10</td>
                <td class="name">Johnny Suh</td>
                <td class="points">258.208</td>
              </tr>

            </table>

          </div>
        </main>
      </div>

</body>
</html>