<!DOCTYPE html>
<html lang="zxx">
    
<!-- Mirrored from unistudio.co/html/stelary/demo-four/blog-6 by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Oct 2023 12:02:13 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog - Grid 3 Cols - Stelary</title>
        <link rel="icon" type="image/png" href="https://unistudio.co/html/stelary/favicon.ico"/>
        <meta name="description" content="Stelary a clean, modern and pixel-perfect multipurpose blogging HTML5 website template.">
        <meta name="theme-color" content="#15171A">

        <!-- preload head styles -->
        <link rel="preload" href="../../Feed/css/unicons.min.css" as="style">
        <link rel="preload" href="../../Feed/css/prettify.min.css" as="style">
        <link rel="preload" href="../../Feed/css/swiper-bundle.min.css" as="style">
        <link rel="preload" href="../../Feed/css/magic-cursor.min.css" as="style">

        <!-- preload footer scripts -->
        <link rel="preload" href="../../Feed/js/libs/jquery.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/clipboard.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/scrollmagic.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/swiper-bundle.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/split-type.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/anime.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/gsap.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/typed.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/prettify.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/smooth-scrollbar.min.js" as="script">
        <link rel="preload" href="../../Feed/js/libs/tilt.min.js" as="script">
        <link rel="preload" href="../../Feed/js/helpers/data-attr-helper.js" as="script">
        <link rel="preload" href="../../Feed/js/helpers/swiper-helper.js" as="script">
        <link rel="preload" href="../../Feed/js/helpers/splitype-helper.js" as="script">
        <link rel="preload" href="../../Feed/js/helpers/anime-helper.js" as="script">
        <link rel="preload" href="../../Feed/js/helpers/anime-helper-defined-timelines.js" as="script">
        <link rel="preload" href="../../Feed/js/helpers/typed-helper.js" as="script">
        <link rel="preload" href="../../Feed/js/helpers/tilt-helper.js" as="script">
        <link rel="preload" href="../../Feed/js/core/preloader.js" as="script">
        <link rel="preload" href="../../Feed/js/core/dynamic-background.js" as="script">
        <link rel="preload" href="../../Feed/js/core/magic-cursor.js" as="script">
        <link rel="preload" href="../../Feed/js/core/marquee.js" as="script">
        <link rel="preload" href="../../Feed/js/app.js" as="script">

        <!-- app head for bootstrap core -->
        <script src="../../Feed/js/app-head-bs.js"></script>

        <!-- include styles -->
        <link rel="stylesheet" href="../../Feed/css/unicons.min.css">
        <link rel="stylesheet" href="../../Feed/css/prettify.min.css">
        <link rel="stylesheet" href="../../Feed/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="../../Feed/css/magic-cursor.min.css">

        <!-- include main style -->
        <link rel="stylesheet" href="../../Feed/css/theme/demo-four.min.css">

        <!-- include scripts -->
        <script src="../../Feed/js/uni-core/js/uni-core.min.js"></script>
        <script src="../../Feed/js/libs/lightbox.min.js"></script>
        <script src="../../Feed/js/libs/countdown.min.js"></script>
        <script src="../../Feed/js/libs/tooltip.min.js"></script>
    
       
    </head>
    <body class="uni-body bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-200">

     

      

        <!-- Wrapper start -->
        <div id="wrapper" class="wrap">
     

            <div class="section py-3 sm:py-6 lg:py-9">
                <div class="container max-w-xl">
                    <div class="panel vstack gap-3 sm:gap-6 lg:gap-9">
                      
                        <div class="row g-4 xl:g-8">
                            <div class="col">
                                <div class="panel text-center">
                                    <div class="row child-cols-12 sm:child-cols-6 lg:child-cols-4 gy-4 sm:gy-6 xl:gy-8 gx-2 sm:gx-4 xl:gx-6">
                                        <div>
                                            <article class="post type-post panel vstack gap-2">
                                                <div class="ratio ratio-1x1 rounded uc-transition-toggle overflow-hidden">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="https://media.springernature.com/lw725/springer-cms/rest/v1/content/18613860/data/v2" alt="Where a “story” is being told without words">
                                                    <a class='position-cover' data-caption='Where a “story” is being told without words' href='blog-details.html'></a>
                                                </div>
                                                <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                                    <div class="hstack justify-center items-center gap-1 fs-7 fw-normal">
                                                        <a class='text-primary text-none ft-tertiary' href='blog.html'>Sundae</a>
                                                        <span class="opacity-60">•</span>
                                                        <div class="hstack gap-1 ft-tertiary opacity-60">
                                                            <span>April 24, 2023</span>
                                                        </div>
                                                    </div>
                                                    <h3 class="h6 sm:h5 xl:h4 m-0 m-0">
                                                        <a  style="color:#000000" class='text-none' href='blog-details.html'>Where a “story” is being told without words</a>
                                                    </h3><p align="justify" >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, oditLorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, odit. </p>


                                                </header>
                                            </article>
                                        </div>
                                        <div>
                                            <article class="post type-post panel vstack gap-2">
                                                <div class="ratio ratio-1x1 rounded uc-transition-toggle overflow-hidden">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="https://media.springernature.com/lw725/springer-cms/rest/v1/content/18613860/data/v2" alt="Katy Perry's Hairstyles Colors Through the Years">
                                                    <a class='position-cover' data-caption='Katy Perry\'s Hairstyles Colors Through the Years' href='blog-details.html'></a>
                                                </div>
                                                <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                                    <div class="hstack justify-center items-center gap-1 fs-7 fw-normal">
                                                        <a  class='text-primary text-none ft-tertiary' href='blog.html'>Sushi</a>
                                                        <span class="opacity-60">•</span>
                                                        <div class="hstack gap-1 ft-tertiary opacity-60">
                                                            <span>April 22, 2023</span>
                                                        </div>
                                                    </div>
                                                    <h3 class="h6 sm:h5 xl:h4 m-0 m-0">
                                                        <a style="color:#000000" class='text-none' href='blog-details.html'>Katy Perry's Hairstyles Colors Through </a>
                                                    </h3><p align="justify" >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, oditLorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, odit. </p>
                                                </header>
                                            </article>
                                        </div>
                                        <div>
                                            <article class="post type-post panel vstack gap-2">
                                                <div class="ratio ratio-1x1 rounded uc-transition-toggle overflow-hidden">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="https://media.springernature.com/lw725/springer-cms/rest/v1/content/18613860/data/v2" alt="How America Became Colonial Leader in Cities">
                                                    <a class='position-cover' data-caption='How America Became Colonial Leader in Cities' href='blog-details.html'></a>
                                                </div>
                                                <header class="panel vstack items-center gap-1 lg:gap-2 px-2">
                                                    <div class="hstack justify-center items-center gap-1 fs-7 fw-normal">
                                                        <a class='text-primary text-none ft-tertiary' href='blog.html'>Pastries</a>
                                                        <span class="opacity-60">•</span>
                                                        <div class="hstack gap-1 ft-tertiary opacity-60">
                                                            <span>April 20, 2023</span>
                                                        </div>
                                                    </div>
                                                    <h3  class="h6 sm:h5 xl:h4 m-0 m-0">
                                                        <a style="color:#000000" style="color:#000000" class='text-none' href='blog-details.html'>How America Became Colonial Leader</a>
                                                    </h3><p align="justify" >
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, oditLorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, odit. </p>
                                                </header>
                                            </article>
                                        </div>
                                       
                                                                         
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Newsletter -->
          
        </div>

        <!-- Wrapper end -->

        

        <!-- include jquery & bootstrap js -->
        <script defer src="../../Feed/js/libs/jquery.min.js"></script>
        <script defer src="../../Feed/js/libs/bootstrap.min.js"></script>

        <!-- include uni-core components -->
        <script defer src="../../Feed/js/uni-core/js/components/anime.min.js"></script>
        <script defer src="../../Feed/js/uni-core/js/components/parallax.min.js"></script>

        <!-- include scripts -->
        <script src="../../Feed/js/libs/clipboard.min.js"></script>
        <script src="../../Feed/js/libs/prettify.min.js"></script>
        <script defer src="../../Feed/js/libs/swiper-bundle.min.js"></script>
        <script defer src="../../Feed/js/libs/split-type.min.js"></script>
        <script defer src="../../Feed/js/libs/scrollmagic.min.js"></script>
        <script defer src="../../Feed/js/libs/anime.min.js"></script>
        <script defer src="../../Feed/js/libs/gsap.min.js"></script>
        <script defer src="../../Feed/js/libs/typed.min.js"></script>
        <script defer src="../../Feed/js/libs/smooth-scrollbar.min.js"></script>
        <script defer src="../../Feed/js/libs/tilt.min.js"></script>
        <script defer src="../../Feed/js/libs/lightbox.min.js"></script>
        <script defer src="../../Feed/js/libs/countdown.min.js"></script>
        <script defer src="../../Feed/js/libs/tooltip.min.js"></script>
        <script defer src="../../Feed/js/helpers/data-attr-helper.js"></script>
        <script defer src="../../Feed/js/helpers/swiper-helper.js"></script>
        <script defer src="../../Feed/js/helpers/splitype-helper.js"></script>
        <script defer src="../../Feed/js/helpers/anime-helper.js"></script>
        <script defer src="../../Feed/js/helpers/anime-helper-defined-timelines.js"></script>
        <script defer src="../../Feed/js/helpers/typed-helper.js"></script>
        <script defer src="../../Feed/js/helpers/tilt-helper.js"></script>
        <script defer src="../../Feed/js/core/preloader.js"></script>
        <script defer src="../../Feed/js/core/dynamic-background.js"></script>
        <script defer src="../../Feed/js/core/magic-cursor.js"></script>
        <script defer src="../../Feed/js/core/marquee.js"></script>

        <!-- include app script -->
        <script defer src="../../Feed/js/app.js"></script>
        <script>
            // Schema toggle via URL
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const getSchema = urlParams.get("schema");
            if (getSchema === "dark") {
                setDarkMode(1);
            } else if (getSchema === "light") {
                setDarkMode(0);
            }

            // Pretty Print
            window.prettyPrint && prettyPrint();

            // Copy to clipboard
            var clipboard = new ClipboardJS(".ctc");
            clipboard.on("success", function (e) {
                document.getElementById("ctc_collapse").style.display = "flex";
                setTimeout(function () {
                    document.getElementById("ctc_collapse").style.display = "none";
                }, 1000);
                e.clearSelection();
            });
        </script>
    </body>

<!-- Mirrored from unistudio.co/html/stelary/demo-four/blog-6 by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Oct 2023 12:03:30 GMT -->
</html>
