<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Ranking/style.css">
</head>
<body>
  <center>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div style="width: 300px;" class="card">
      <img src="https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c21hbGx8ZW58MHx8MHx8fDA%3D&w=1000&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div style="width: 300px; height: 400px;" class="card">
      <img src="https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c21hbGx8ZW58MHx8MHx8fDA%3D&w=1000&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">1</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div style="width: 300px;" class="card">
      <img src="https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c21hbGx8ZW58MHx8MHx8fDA%3D&w=1000&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">3</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</center>
        <div class="rank">
          <main>

            <div id="leaderboard">
        
              <table>
                <tr>
                  <td class="number">4</td>
                  <td class="name">Mark Lee</td>
                  <td class="points">258.242</td>
                </tr>
                <tr>
                  <td class="number">5</td>
                  <td class="name">Xiao Dejun</td>
                  <td class="points">258.223</td>
                </tr>
                <tr>
                  <td class="number">6</td>
                  <td class="name">Qian Kun</td>
                  <td class="points">258.212</td>
                </tr>
                <tr>
                  <td class="number">7</td>
                  <td class="name">Johnny Suh</td>
                  <td class="points">258.208</td>
                </tr>
                <tr>
                  <td class="number">8</td>
                  <td class="name">Johnny Suh</td>
                  <td class="points">258.208</td>
                </tr>
                <tr>
                  <td class="number">9</td>
                  <td class="name">Johnny Suh</td>
                  <td class="points">258.208</td>
                </tr>
                <tr>
                  <td class="number">10</td>
                  <td class="name">Johnny Suh</td>
                  <td class="points">258.208</td>
                </tr>

              </table>

            </div>
          </main>
        </div>
 
</body>
</html>

